@import "./../scss/variables";


:host{
  height: 100%;
  display: block;
  .app-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .body{
      width: 60%;
      flex: 1;
      margin: 0 auto;
      margin-top: 40px;

      .container{
        height: 90%;
        background: color(bg-green-base2);
        display: flex;
        .left,.right{
          //height: 90%;
        }
        .left{
          width: 20%;
        }
        .right{
          margin-left: 20px;
          padding: 10px;
          border-radius: 10px;
          flex: 1;
          box-shadow: 2px 0px 10px 4px rgba(color(bg-green-base2), .4);
        }
      }

    }
  }
}

