<section class="obra-detail">
  <div class="container">
    <div class="form-group">
      <label for="">Nombre</label>
      <span>{{obra.nombre}}</span>
    </div>
    <div class="form-group">
      <label for="">Año de Inicio</label>
      <span>{{obra.annoinicio}}</span>
    </div>
    <div class="form-group">
      <label for="">Año de Finalizacion</label>
      <span>{{obra.annofin}}</span>
    </div>
    <div class="form-group">
      <label for="">Fecha de Entrega</label>
      <span>{{obra.fechaentrega | amDateFormat:'LL'}}</span>
    </div>
    <div class="form-group">
      <label for="">Monto de Inversion</label>
      <span>{{obra.montoinversion}}</span>
    </div>
    <div class="form-group">
      <label for="">Longitud</label>
      <span>{{obra.longitud}}</span>
    </div>
    <div class="form-group">
      <label for="">Transito diario</label>
      <span>{{obra.transitodiarioestimado}}</span>
    </div>
    <div class="form-group">
      <label for="">Traslado anterior</label>
      <span>{{obra.tiempotrasladoanterior}}</span>
    </div>
    <div class="form-group">
      <label for="">Traslado actual</label>
      <span>{{obra.tiempotrasladoactual}}</span>
    </div>
  </div>
</section>
