/* You can add global styles to this file, and also import other style files */
//@import "./scss/variables";
//@import "./scss/functions";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
html,
body {
  height: 100%;
}


